
	@font-face {
	font-family: 'Raleway_Regular'; 
	src: url('/fonts/raleway-regular.ttf');}

	@font-face {
	font-family: 'Caviar_Dreams_Bold'; 
	src: url('/fonts/caviar-dreams-bold.ttf');}

	@font-face {
	font-family: 'Roboto_Regular'; 
	src: url('/fonts/roboto-regular.ttf'); }

	@font-face { 
	font-family: "Franklin_Gothic_Demi_Cond"; 
	src: url('/fonts/franklin-gothic-demi-cond.ttf'); }

	@font-face {
	font-family: Poppins-Regular;
	src: url('/fonts/Poppins-Regular.ttf'); 
	}

	@font-face {
	font-family: Poppins-Bold;
	src: url('/fonts/Poppins-Bold.ttf'); 
	}

	@font-face {
	font-family: Poppins-Medium;
	src: url('/fonts/Poppins-Medium.ttf'); 
	}

	@font-face {
	font-family: Montserrat-Bold;
	src: url('/fonts/Montserrat-Bold.ttf'); 
	}
